<div class="pensamento {{pensamento.modelo}} ff-roboto-mono" [ngClass]="larguraPensamento()">
    <img src="../../../../assets/Imgs/{{pensamento.modelo}}.png" alt="aspas coloridas">
    <p class="conteudo">{{pensamento.conteudo}}</p>
    <p class="autoria"><strong>{{pensamento.autoria}}</strong></p>
    <div class="acoes">
        <button class="botao-favorito">
            <img
                src="/assets/Imgs/icone-favorito-{{pensamento.favorito ? 'ativo' : 'inativo'}}.png"
                alt="Ícone de favorito {{pensamento.favorito ? 'ativo' : 'inativo'}}"
                (click)="atualizarFavorito()">
        </button>
        <button class="botao-editar">
            <img src="../../../../assets/Imgs/icone-editar.png" routerLink="/pensamento/editarPensamento/{{pensamento.id}}" alt="Ícone de edição">
        </button>
        <button class="botao-excluir" routerLink="/pensamento/excluirPensamento/{{pensamento.id}}">
            <img src="../../../../assets/Imgs/icone-excluir.png" alt="Ícone de excluir">
        </button>
    </div>
</div>
