
<div class="pensamento {{'modelo' + pensamento.modelo}} ff-roboto-mono">
  <img src="../../../../assets/Imgs/modelo{{pensamento.modelo}}.png" alt="aspas coloridas">

  <p class="pensamentoDoAutor">{{pensamento.pensamentoDoAutor}}</p>
  <p class="nomeAutor"><strong>{{pensamento.nomeAutor}}</strong></p>
  <div class="acoes">
    <button class="botao-editar" (click)="solicitarEdicao()">
      <img src="../../../../assets/Imgs/icone-editar.png" alt="Ícone de edição">
    </button>
    <button class="botao-excluir" (click)="solicitarExclusao()">
      <img src="../../../../assets/Imgs/icone-excluir.png" alt="Ícone de excluir">
    </button>
  </div>
</div>
